@using CloudplayWebApp.Controllers;
@model IEnumerable<CloudplayWebApp.Models.CustomVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (!(await CustomVMsController.IsThereAVMAsync()))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
                @if (!(await CustomVMsController.VMstatus(item.Name)))
                {
                    <td>
                        <form asp-action="RunOrStop" asp-route-nom="@item.Name">
                            <input type="submit" value="Stop" class="btn btn-danger" />
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="RunOrStop" asp-route-nom="@item.Name">
                            <input type="submit" value="Run" class="btn btn-success" />
                        </form>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
